<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Time And One Time Only - the app for sharing secrets</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h2>OTAOTO</h2>
      </header>
      <br />

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <hr />
      <footer class="text-center">
        <span>How It Works - About - <a href="https://github.com/bawolf/otaoto">Source</a></span>
        <p>©2016 - Bryant Wolf</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
