/* This file is for your main application css. */
textarea {
  resize: vertical;
  width: 100%;
  max-width: 100%;
  min-height: 5em;
}

.navbar-default {
  background-color: white;
}

.navbar {
  border-radius: 0px;
}

.link-well {
  background: #00aeef;
  border: 2px solid #00aeef;
}

.fake-link {
  background: none;
  color: #fff;
  word-wrap: break-word;
}

.link-well:hover {
  background-color: #33bef2;
}

.secret-section {
  margin-top: 2rem;
}

.logo {
  display: inline-block;
  margin: 1rem;
}
.secret-textarea {
  padding: 1em;
  border: 2px solid #00aeef;
}

.secret-well {
  border: 2px solid #00aeef;
  background: none;
}

.btn-primary {
  background-color: #00aeef;
  border-color: #33bef2;
}

.btn-primary:hover {
  background-color: #0083b3;
  border-color: #33bef2;
}

.headline {
  color: #00aeef;
}

// .metaphor-img {
//   height: 25em;
//   width: auto;
// }
//show/hide
//#######################

p { margin-bottom: 1.3rem }

.view-secret {
  padding-left: 1em;
  padding-right: 1em; 
}

.secret-container {
  position: relative;
  *zoom: 1;
}

.secret-container:before, .secret-container:after {
  content: "";
  display: table;
}

.secret-container:after { clear: both }

.secret-container section:last-of-type {
  display: none;
  visibility: hidden;
}

section {
  -webkit-transition: .125s linear;
  -moz-transition: .125s linear;
  -ms-transition: .125s linear;
  -o-transition: .125s linear;
  transition: .125s linear;
}

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

[for="show_secret"] {
  width: auto;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
}

[for="show_secret"]:hover {
  background: rgba(0,0,0,.5);
  color: rgb(255,255,255);
}

[for="show_secret"] span:last-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ section {
  display: block;
  visibility: visible;
  width: 100%;
}

input[type=checkbox]:checked ~ [for="show_secret"] span:first-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ [for="show_secret"] span:last-of-type {
  display: block;
  visibility: visible;
}
