<div class="jumbotron">
  <p class="lead">Your secret is available at the link below.<br />Send it to your recipient or hold onto it for later.</p>
  <p><%= secret_url(@conn, :show, @slug) %></p>
  <p class="lead">Remember, visiting that link once will make it disappear!</p>
  <div class='form-group'>
    <h5 class='form-title'>Secret</h5>
    <textarea class="form-control disabled" disabled><%= @plain_text %></textarea>
  </div>
</div>
