<div class="container">
  <div class="text-center">
    <h3 class="headline">You Have a Secret!</h3>
    <p>Click the button to activate the one time link and see the secret</p>
    <%= link "View my Secret", to: secret_url(@conn, :show, @slug, @key), class: "btn btn-primary" %>
  </div>
</div>
