<%= form_for @changeset, secret_path(@conn, :create), fn f -> %>
  <div class='form-group'>
    <%= textarea f, :plain_text,
                    [class: "form-control",
                     required: true] %>
  </div>

  <div class="text-center">
    <%= submit "Submit", [class: "btn btn-default"] %>
  </div>
<% end %>
