<%= form_for @changeset, secret_path(@conn, :create), fn f -> %>
  <div class='form-group'>
    <h5 class='form-title'>Secret</h5>
    <%= textarea f, :plain_text, [class: "form-control", required: true, contenteditable: "true"] %>
  </div>

  <div class="input_wrapper center_block">
    <%= submit "Submit", [class: "btn btn-default"] %>
  </div>
<% end %>
