<div class="text-center">
  <img class="metaphor-img" src="/images/show.svg">  
  <h3 class="headline">Here's a Secret</h3>
  <p>Put it somewhere safe! It was already deleted from the database</p>
  <div class="well view-secret">
    <%= @plain_text %>
  </div>
  <br />
  <p>Have something to share?</p>
  <%= link "Share a secret", to: secret_path(@conn, :new), class: "btn btn-default" %>
</div>
