<h2 class="text-center">Your Secret:</h2>
<div class="well text-center view-secret">
  <%= @plain_text %>
</div>
<div class="text-center">
  <p>Have something you want to share?</p>
  <%= link "Share your secret", to: secret_path(@conn, :new), class: "btn btn-default" %>
</div>
