<div class="container">
  <div class="text-center">
    <h3 class="headline">This secret is gone or perhaps never existed!</h3>
    <p>Each link is only useful once. If it's been visited, the content is gone forever. You are also redirected here if you provide bad info even if a link was never here</p>
    <br/>
    <div class="">
      <p>Have something to share?</p>
      <%= link "Share a Secret", to: secret_path(@conn, :new), class: "btn btn-default" %>
    </div>
  </div>
</div>
